/* Container styles */
.container {
  display: flex;
  // height: 100vh;
}

/* Sidebar styles */
.sidebar {
  background-color: #f1f1f1;
  padding: 20px;
  min-width: 200px;
}

/* Main content styles */
.main-content {
  display: flex;
  flex: 1;
  // padding: 40px;
  border: 2px dotted green;
  flex-flow: column wrap;
}

/* Chart container styles */
.chart-container {
  display: flex;
  justify-content: space-around;
  border: 2px dotted red;
}

/* Chart styles */
.chart {
  // flex-wrap: wrap;
  border: 2px dotted blue;
  //   background-color: #e6e6e6;
  // height: 300px;
  //   margin-bottom: 20px;
  // width: 50%;
  // flex-grow: 1;
}

.small {
  min-width: 50%;
  // align-self: center;
}
