<div class="container">
  <div class="sidebar">
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Settings</a></li>
      </ul>
    </nav>
  </div>

  <!-- Gender by generation -->
  <div class="">
    <div class="chart">
      <div *ngIf="pokemonGenderByGenerationsData$ | async as generation">
        <h3>Pokémons genders per generation</h3>
        <h5>There are 3 genders of pokémons</h5>
        <p-chart type="bar" [data]="generation" [options]="" />
      </div>
    </div>
  </div>

  <div class="row justify-center">
    <!-- Pokémons per type -->
    <div class="chart">
      <div *ngIf="pokemonTypesData$ | async as types">
        <h3>Pokémons per type</h3>
        <h5>There are {{ types.datasets[0].data.length }} types of pokémons</h5>
        <p-chart type="doughnut" [data]="types" [options]="" />
      </div>
    </div>
    <!-- Pokémons per generation -->
    <div class="chart">
      <div *ngIf="pokemonGenerationsData$ | async as generation">
        <h3>Pokémons per generation</h3>
        <h5>
          There are {{ generation.datasets[0].data.length }} generations of
          pokémons
        </h5>
        <p-chart type="bar" [data]="generation" [options]="" />
      </div>
    </div>
  </div>
</div>
