<div class="container">
  <div class="sidebar">
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Settings</a></li>
      </ul>
    </nav>
  </div>

  <div class="main-content">
    <div class="row space-around">
      <div class="chart">
        <p-chart type="doughnut" [data]="barData" [options]="{}" />
      </div>
      <div class="chart">
        <p-chart type="pie" [data]="barData" [options]="{}" />
      </div>
    </div>

    <div class="row space-around">
      <div class="chart small">
        <p-chart type="line" [data]="lineData" [options]="{}" />
      </div>
      <div class="chart small">
        <p-chart type="bar" [data]="barData" [options]="{}" />
      </div>
    </div>
  </div>
</div>
