<div class="container">
  <div class="sidebar">
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Settings</a></li>
      </ul>
    </nav>
  </div>
  <div class="main-content">
    <div class="chart-container">
      <div class="chart">
        <div class="card">
          <p-chart type="doughnut" [data]="barData" [options]="{}" />
        </div>
      </div>
      <div class="chart">
        <div class="card">
          <p-chart type="pie" [data]="barData" [options]="{}" />
        </div>
      </div>
    </div>

    <div class="column justify-center align-center">
      <div class="">
        <div class="">
          <p-chart type="line" [data]="lineData" [options]="{}" />
        </div>
      </div>
      <div class="">
        <div class="">
          <p-chart type="bar" [data]="barData" [options]="{}" />
        </div>
      </div>
    </div>
  </div>
</div>
