<h1>Login</h1>
<!-- PrimeNG -->
<div class="row gap-1">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <p-floatLabel>
        <input
          [ngClass]="{ 'ng-invalid': this.loginForm.get('email')?.invalid }"
          pInputText
          id="username"
          formControlName="email"
        />
        <label for="username">Username</label>
      </p-floatLabel>
      <p-floatLabel>
        <input
          [ngClass]="{
            'ng-invalid ng-dirty': this.loginForm.get('password')?.invalid
          }"
          pInputText
          id="username"
          formControlName="email"
        />
        <label for="username">Password</label>
      </p-floatLabel>
    </div>

    <div class="mt-15">
      <p-button
        *ngIf="!(isUserLoggedIn$ | async)"
        type="submit"
        label="Log in"
        [disabled]="this.loginForm.invalid"
      >
      </p-button>
    </div>

    <p-button *ngIf="isUserLoggedIn$ | async" type="button" label="Log out">
    </p-button>
  </form>
</div>

<div class="card flex justify-content-center">
  <p-toast />
</div>
